/* -------------------- COLOR PALETTE ----------------------- */
/* 
    https://coolors.co/674baf-e882e8

                    #674BAF Plump Purple
                    #E882E8 Violet Web
*/

/* ----------------------- GLOBAL --------------------------- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #674BAF;
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
}

/* ----------------------- MAIN ----------------------------- */

/* General */
main {
    line-height: 1.5;
    width: 84%;
    margin: 20px auto;
}
main p {
    font-size: 18px;
}
.logo {
    width: 220px;
}

/* Main Content */
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 600;
    padding: 40px 0 20px;
}
button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    color: #674BAF;
    padding: 15px 65px;
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    outline: none;
}
button:hover {
    background-color: #E882E8;
    color: #FFFFFF;
}
button:focus{
    box-shadow: 0 0 0 3px #E882E8, 0 0 0 1.5px #E882E8;
    color: #E882E8;
}
button:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
.main-content {
    margin: 60px 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    column-gap: 50px;
}
.illustration {
    margin-bottom: 50px;
    flex: 0 1 700px;
}
.illustration img {
    max-width: 100%;
}
.main-text {
    max-width: 800px;
    flex: 1 1 300px;
}

/* Social Media */
i {
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;    
}
.social-media {
    margin-top: 80px;
    display: flex;
    justify-content: center;  
}
.icon-wrapper {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
}
.icon-wrapper:nth-of-type(2){
    margin: 0 15px;
}
.icon-wrapper:hover {
    border-color: #E882E8;
}
.icon-wrapper a:focus {
    outline: 2px solid #E882E8;
}
i:hover {
    color: #E882E8;
}

/* ----------------------- FOOTER --------------------------- */
footer {
    font-size: 11px;
    color: #FFFFFF;
    margin: 10px 0;
    text-align: center;
}
footer a {
    color: #E882E8;
}
footer a:hover {
    text-decoration: none;
}
footer a:focus {
    outline: 2px solid #E882E8;
}
/* ----------------------- MEDIA QUERIES -------------------- */

@media screen and (min-width: 1000px) {
    body {
        background-image: url("../images/bg-desktop.svg");
        background-size: cover;
    }
}
@media screen and (min-width: 1300px) {
    .main-content {
        justify-content: left;
        text-align: left;
    }
    .illustration {
        margin-bottom: 0;
    }
    .social-media {
        margin-top: 0;
        justify-content: flex-end;
    }
}